body{
    font: normal 20pt Arial;
    background-color: #ffd97d;
    cursor: default;
}
h1::-moz-selection { background: #bd4b43; }
h1::selection { background: #bd4b43; }
button::-moz-selection { background: #bd4b43; }
button::selection { background: #bd4b43; }
body::-moz-selection { background: #bd4b43; }
body::selection { background: #bd4b43; }
label::-moz-selection { background: #bd4b43; }
label::selection { background: #bd4b43; }
h1{
    text-align: center;
    color: #ee6055;
}
#text{
    text-align: center;
}
#texto{
    font-size: 20pt;
    margin-top: 160px;
    border-radius: 10px;
    color: rgb(100, 18, 32);
    background-color: #ee6055;
    border-color: #ee6055;
    outline: rgb(58, 53, 53);
    width: 900px;
    height: 50px;
}
#texto::-moz-selection { background: #bd4b43; }
#texto::selection { background: #bd4b43; }
label{
    font: normal 20pt Arial;
    color: #4d1b1b;
}
#radios{
    margin-top: 80px;
}
#escolha{
    all:unset;
    border: 1px solid black;
    margin-left: 10px;
    display: inline-block;
    width: 30px;
    height: 15px;
    outline:2px solid #ee6055;
    outline-offset: -2px;
}
#escolha:checked{
    background-color: #ee6055;
}
button{
    margin-top: 100px;
    font-size: 20pt;
    text-align: center;
    background-color: #ee6055;
    border-color: #ee6055;
    border-radius: 10px;
    color: #4d1b1b;
    cursor: pointer;
}

button:hover{
    background-color: #ca5148;
    border-color: #ca5148;
}