* {
    padding: 0;
    margin: auto;
    outline: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    text-align: center;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

html {
    overflow: hidden;
}

h1 {
    font-size: 4rem !important;
}